{% comment %} 
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to eight. 
{% endcomment %}


{% include tagline.html %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading" href="{{ site.base }}/discuss">Discuss</h3>
          <p>Create an issue or provide feedback</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading" href="{{ site.base }}/roadmap">Roadmap</h3>
          <p>Plans, schedule, and scope</p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading" href="{{ site.base }}/security">Security</h3>
          <p>Security Documentation and Planning for the Authority to Operate (ATO)</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading" href="{{ site.base }}/purpose">Purpose</h3>
          <p>Documentation and Overview of the effort</p>
        </div>
      </div>
    </div>
  </div>
</section>
