{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3">
  <nav>
    <ul class="usa-sidenav">
      {% for nav in page.nav %}
      <li class="usa-sidenav__item">
      <a href="{{ nav.href }}">{{ nav.name }}</a>
      </li>
      {% endfor %}
      {% if children %}<li class="usa-sidenav__item">
      <a href="{{ nav.children.href }}">{{ nav.children.href }}</a>
    </li>
    {% endif %}
    </ul>
  </nav>
</aside>
