{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h3 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Welcome to the Data.gov Multi-tenant CKAN Project</h3>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>
       A demonstration project to provide on-demand Open Data Portals for agencies
      </p>
    </div>
  </div>
</section>